
:root{
  --primary-color:#6f55f2;
  --heading-color:#132742;
}


body{
  font-family: 'Times New Roman', Times, serif;
  
  
}

section{
   padding: 50px 0px;
}



/* Styling the a tags ________________________________________________________________________*/


a{
  text-decoration: none;
  color: unset;
}

a:hover{
   color: unset;
}



/* Styling the links __________________________________________________________________________ */

link{
  text-decoration: none;
  color: unset;
}

link:hover{
   color: unset;
}

/* Styling the ul tag________________________________________________________________________________ */

ul{
   list-style: none;
}

.container{
   width: 1140px;
   padding: 0px 15px;
   margin: auto;
   
}

.section-title{
   color: var(--heading-color);
   font-weight: 700;
}


/* Styling reginster button for commen purpose _---------------------------------------------*/


.register-btn{

   background:#3E0503; 
    border: none;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
   font-size: 1rem;
   font-family: var(--font-name);
   font-weight: 700;
   outline: none;
   padding: 7px 15px;
   box-shadow: -3px 3px 8px -1px black;
}

.register-btn:hover{
    width: 3cm;
    color: aqua;
}
